<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/loginpage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
    <title>Student Portal</title>
  </head>
  <body>
    <div class="header">
      <p>IIIT Lucknow</p>
    </div>
    <div class="belhead">
      <p>Student Portal</p>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. Go to
      <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %} {% endwith %}
    <div class="boxs-list" id="login-btn-list">
      <button class="login-btn" id="student-btn">
        <div class="box">
          <div class="box_image">
            <img
              src="https://i.pinimg.com/originals/7a/9f/21/7a9f219285765b512843a51dab207c83.gif"
            />
          </div>
          <div class="box_title">
            <p>Students</p>
          </div>
        </div>
      </button>

      <button class="login-btn" id="teacher-btn">
        <div class="box">
          <div class="box_image">
            <img
              src="https://i.pinimg.com/originals/27/64/b8/2764b8cfd081e19c2497bb59043f84d4.gif"
            />
            <!-- https://i.pinimg.com/originals/8d/41/d5/8d41d5b5493da5376ffaf4a5a134f1f1.gif -->
          </div>
          <div class="box_title title-white">
            <p>Teachers</p>
          </div>
        </div>
      </button>

      <button class="login-btn" id="admin-btn">
        <div class="box">
          <div class="box_image">
            <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
          </div>
          <div class="box_title title-black">
            <p>Admin</p>
          </div>
        </div>
      </button>
    </div>

    <div id="student-login-box" class="login-box">
      <div class="login-details">
        <form action="/login/student" method="POST">
          <h1 id="login-type-text">Student's Login</h1>
          <input type="text" placeholder="Email" name="email"/>
          <br />
          <input type="password" placeholder="Password" name="password"/>
          <br />
          <button class="login-submit">Submit</button>
        </form>
      </div>
    </div>
    <div id="teacher-login-box" class="login-box">
      <div class="login-details">
        <form action="/login/teacher" method="POST">
          <h1 id="login-type-text">Teacher's Login</h1>
          <input type="text" placeholder="Email" name = "email"/>
          <br />
          <input type="password" placeholder="Password" name = "password"/>
          <br />
          <button class="login-submit">Submit</button>
        </form>
      </div>
    </div>
    <div id="admin-login-box" class="login-box">
      <div class="login-details">
        <form action="/login/admin" method="POST">
          <h1 id="login-type-text">Admin's Login</h1>
          <input type="text" placeholder="Email" name = 'email'/>
          <br />
          <input type="password" placeholder="Password" name = 'password'/>
          <br />
          <button class="login-submit">Submit</button>
        </form>
      </div>
    </div>
   <button class="login-back login-submit" id="login-back">Back</button>
    <!-- scripts -->
    <script src="../static/loginpage.js"></script>
  </body>
</html>
