<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/signuppage.css" />
    <link rel="stylesheet" href="../static/student_profile.css" />
    <title>Register Users</title>
  </head>
  <body>
    <nav class="navbar-dark navbar-expand-lg navbar">
      <div class="container-fluid navb-links-container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="#"><button class="styled-button">Home</button></a>
            </li>
            <li class="nav-item">
              <a href="#"><button class="styled-button">Timetable</button></a>
            </li>
            <li class="nav-item">
              <a href="#"><button class="styled-button">Assignments</button></a>
            </li>
            <li class="nav-item">
              <a href="#"><button class="styled-button">Attendance</button></a>
            </li>
            <li class="nav-item">
              <a href="#"><button class="styled-button">Reports</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <center>
      <h1 class="header">Register New Users</h1>
      <div class="mainbox">
        <div class="leftmainbox">
          <h1 class="belhead">Signup</h1>
          <img
            src="/static/blank-profile-picture-973460__480.webp"
            class="leftimg"
          />
          <h1 class="belhead">Admin Name</h1>
        </div>
        <div class="rightmainbox">
          <div class="signupchoice">
            <div class="btn" id="studentbtn">STUDENT</div>
            <div class="btn" id="teacherbtn">TEACHER</div>
            <div class="btn" id="adminbtn">ADMIN</div>
          </div>
          <div class="teachersignup" id="teachersignup">
            <form action="/signup/teacher" method="post">
              <h1 class="belhead">Teacher Signup</h1>
              <table>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      name="fname"
                      id=""
                      placeholder="First Name"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      name="lname"
                      id=""
                      placeholder="Last Name"
                    />
                  </td>
                </tr>
              <tr>
                <td>
                  <input
                  type="text"
                  class="admin-input"
                  placeholder="Email"
                  name = "email"
                />
              
              </td>
              <td>
                <input
              type="password"
              class="admin-input"
              placeholder="Password"
              name="password"
            />
              </td>
              </tr>
               
                  <input
                  type="text"
                  class="admin-input"
                  placeholder="Subject"
                  name = "subject"
                />
          
            </table>
              <br />
              <button class="btn" id="submit">Submit</button>
            </form>
          </div>

          <div class="studentsignup" id="studentsignup">
            <form action="/signup/student" method="post">
              <h1 class="belhead">Student Signup</h1>
              <table>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      name="fname"
                      id=""
                      placeholder="First Name"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      name="lname"
                      id=""
                      placeholder="Last Name"
                    />
                  </td>
                </tr>
                <input
                      type="text"
                      class="admin-input"
                      placeholder="Roll Number"
                      name="rollno"
                    />
                <tr colspan="2">
                  <td>
                    <input
                      list="branch"
                      class="admin-input"
                      placeholder="Branch"
                      name="branch"
                    />

                    <datalist id="branch">
                      <option value="CSAI"></option>
                      <option value="CSB"></option>
                      <option value="CS"></option>
                      <option value="IT"></option>
                    </datalist>
                  </td>
                  <td>
                    <input
                      list="year"
                      class="admin-input"
                      placeholder="Year"
                      name="year"
                    />
                    <datalist id="year">
                      <option value="2019"></option>
                      <option value="2020"></option>
                      <option value="2021"></option>
                      <option value="2022"></option>
                    </datalist>
                  </td>
                </tr>
                <tr colspan="2">
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      placeholder="Email"
                      name="email"
                    /><br />
                  </td>
                  <td>
                    <input
                      type="password"
                      class="admin-input"
                      placeholder="Password"
                      name="password"
                    />
                  </td>
                </tr>
              </table>
              <br />
              <button class = "btn" id ="submit">Submit</button>
            </form>
          </div>
          <div class="adminsignup" id = "adminsignup">
            <form action="/signup/admin" method="post">
              <h1 class="belhead">Admin Signup</h1>
              <table>
                <tr>
                  <td><input type="text" class="admin-input" placeholder="First Name" name = "fname"></td>
                  <td><input type="text" class="admin-input" placeholder="Last Name" name = "lname"></td>
                </tr>
                <tr>
                  <td><input type="text" class="admin-input" placeholder="Department" name = "dept"></td>
                  <td><input type="text" class="admin-input" placeholder="Designation" name = "designation"></td>
                </tr>
                <tr>
                  <td><input type="text" class="admin-input" placeholder="Email" name = "email"></td>
                  <td><input type="password" class="admin-input" placeholder="Password" name = "password"></td>
                </tr>
              </table>
              <button class="btn" id="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </center>
    <!-- scripts -->
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="../static/signuppage.js"></script>
  </body>
</html>
