<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable</title>
    <link rel="stylesheet" href="/static/timetable.css">
</head>
<body>
    <table class="center">
        <tr>
            <th rowspan="2">
                DAY
            </th>
            <th>1 <sup>st</sup>Hour</th>
            <th>2 <sup>st</sup>Hour</th>
            <th>3 <sup>st</sup>Hour</th>
            <th rowspan="2">12:15pm - 1.15pm</th>
            <th>4 <sup>st</sup>Hour</th>
            <th>5 <sup>st</sup>Hour</th>
        </tr>

        <tr>
            <td>9:00am - 10:00am</td>
            <td>9:00am - 10:00am</td>
            <td>9:00am - 10:00am</td>
            <td>9:00am - 10:00am</td>
            <td>9:00am - 10:00am</td>
        </tr>

        <tr>
            <td>MONDAY</td>
            <td>PC</td>
            <td>PC</td>
            <td>PC</td>
            <td rowspan="6">L <br>U <br>N <br> C <br> H <br><br> B <br> R<br>E<br>A<br>K<br></td>
            <td>PC</td>
           <td>PC</td>
        </tr>

        <tr>
            <td>TUESDAY</td>
            <td>NS</td>
            <td>NS</td>
            <td>NS</td>
            <td>NS</td>
            <td>NS</td>
        </tr>

        <tr>
            <td>WEDNESDAY</td>
            <td>KT</td>
            <td>KT</td>
            <td>KT</td>
            <td>KT</td>
            <td>KT</td>
        </tr>

        <tr>
            <td>THURSDAY</td>
            <td>DS</td>
            <td>DS</td>
            <td>DS</td>
            <td>DS</td>
            <td>DS</td>
        </tr>

        <tr>
            <td>FRIDAY</td>
            <td>COA</td>
            <td>COA</td>
            <td>COA</td>
            <td>COA</td>
            <td>COA</td>
        </tr>

        <tr>
            <td>SATURDAY</td>
            <td>BLAH</td>
            <td>BLAH</td>
            <td>BLAH</td>
            <td>BLAH</td>
            <td>BLAH</td>
        </tr>

    </table>
</body>
</html>