body {
  border: 0;
  margin: 0;
}

/* navbar */

.navbar {
  /* position: fixed; */
  /* top: 0; */
  background-color: rgb(33,37,41);
  color: white;
  height: 75px;
  transition: all 800ms ease;
  border-bottom: solid 4px teal;
}

.navbar:after, .navbar:before{
  height: 4px;
  content: "";
  transition: all 400ms ease;
}

.navbar:after {
  position: absolute;
  top: 0;
  background-color: gray;
  width:0;
}

.navbar:before {
  position: absolute;
  top : 71px;
  background-color: rgb(33, 37, 41);
  width:100%;
  z-index: 0;
}

.navbar:hover::after {
  transition: all 800ms ease;
  width : 100%;
}

.navbar:hover::before {
  transition: all 800ms ease;
  width : 0;
}

.navb-links-container {
  /* position:fixed; */
  /* top:0; */
  height: 75px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: larger;
}

.navb-link {
  text-decoration: none;
  color: gray;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
}

.navb-link:hover {
  color: teal;
  transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1) all;
  /* transition-duration: 1000ms; */
  border: rgb(173, 255, 230) solid 2px;
  background-color: aquamarine;
  border-radius: 10px;
}

/* navbar end */

/* content */
.content {
  height: 100vh;
  background-color: lightgray;
  width: 100%;
}

/* content-end */

/* footer */

.main-footer {
  background-color: gray;
  position: relative;
  bottom: 0;
  /* top : 0; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 1%;
  width: 70%;
}

.footer-container .row {
  justify-content: space-around;
}

.footer-section-heading {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
}

.footer-link-list li a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.footer-link-list {
  list-style-type: none;
  padding: 0;
}

/* button-sample */

.styled-button {
  width: 130px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  background:rgb(33, 37, 41);
  color: white;
  font-size: 18px;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
.styled-button:hover {
  color: white;
  background: transparent;
  border-bottom: gray 1px solid;
  font-size: 20px;
  width: 200px;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

/* button-sample-end */
