
  body {
    margin: 0;
    border: 0;
    background: linear-gradient(to right bottom, #610094,#150050); 
    font-family: sans-serif;
    font-weight: 100;
    color:white;
  }
  
  
  

  /* tbody { */
  /* tr {
          &:hover {
              background-color: rgba(255,255,255,0.3);
          }
      } */
  /* td {
          position: relative;
          :hover {
              &:before {
                  content: "";
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: -9999px;
                  bottom: -9999px;
                  background-color: rgba(255,255,255,0.2);
                  z-index: -1;
              }
          }
      } */
  /* } */
  
  /* navbar */
  
  .navbar {
    /* position: fixed; */
    /* top: 0; */
    z-index: 1;
    background-color: rgb(33, 37, 41);
    color: white;
    height: 75px;
    transition: all 800ms ease;
    border-bottom: solid 4px teal;
    width: 100%;
  }
  
  .navbar:after,
  .navbar:before {
    height: 4px;
    content: "";
    transition: all 400ms ease;
  }
  
  .navbar:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    width: 0;
  }
  
  .navbar:before {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(33, 37, 41);
    width: 100%;
    z-index: 0;
  }
  
  .navbar:hover::after {
    transition: all 800ms ease;
    width: 100%;
  }
  
  .navbar:hover::before {
    transition: all 800ms ease;
    width: 0;
  }
  
  .navb-links-container {
    /* position:fixed; */
    /* top:0; */
    z-index: 1;
    height: 75px;
    color: white;
    font-size: larger;
  }
  
  .navb-link {
    text-decoration: none;
    color: gray;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1000ms;
  }
  
  .navb-link:hover {
    color: teal;
    transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1) all;
    /* transition-duration: 1000ms; */
    border: rgb(173, 255, 230) solid 2px;
    background-color: aquamarine;
    border-radius: 10px;
  }
  
  .styled-button {
    width: 150px;
    height: 40px;
    /* padding-right: 4px; */
    border: none;
    background: transparent;
    background: rgb(33, 37, 41);
    color: white;
    font-size: 20px;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  }
  .styled-button:hover {
    color: white;
    background: transparent;
    border-bottom: gray 1px solid;
    font-size: 25px;
    width: 200px;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  }
  
  
  /* navbar end */
  .btn {
    border-color: black;
    border-radius: 0;
    color:white;
    position: relative;
    letter-spacing: 0.2ch;
    border: 2px solid white;
    border-radius: 50px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #25274a7e;
    transition: ease-out 0.4s;
    height: 10%;
    width: 20%;
    margin: 20px 20px 20px 20px;
  }
  .btn:hover {
    color: black;
  }
  
  
  
  #ch_submit:hover {
    box-shadow: 0 0 100px 100px inset rgb(7, 123, 201);
    color: white;
  } 
  
  .student-selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .center-align{
    margin-top: 30vh;
    margin-bottom: 30vh;
  }

  #logout 
  {
    margin-left: 550px;
  }
  
  
  