@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    /* line-height: 1.4; */
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left top, rgb(26, 24, 24), rgb(42, 0, 97)); 

}

/* @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
} */


body {
    margin: 0;
    border: 0;
    background: linear-gradient(to left top, #000000, #150050); 

    font-family: sans-serif;
    font-weight: 100;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/*navbar*/
.navbar {
    /* position: fixed; */
    /* top: 0; */
    z-index: 1;
    background-color: rgb(33, 37, 41);
    color: white;
    height: 75px;
    transition: all 800ms ease;
    border-bottom: solid 4px teal;
    width: 100%;
  }
  
  .navbar:after,
  .navbar:before {
    height: 4px;
    content: "";
    transition: all 400ms ease;
  }
  
  .navbar:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    width: 0;
  }
  
  .navbar:before {
    position: absolute;
    top: 71px;
    left: 0;
    background-color: rgb(33, 37, 41);
    width: 100%;
    z-index: 0;
  }
  
  .navbar:hover::after {
    transition: all 800ms ease;
    width: 100%;
  }
  
  .navbar:hover::before {
    transition: all 800ms ease;
    width: 0;
  }
  
  .navb-links-container {
    /* position:fixed; */
    /* top:0; */
    z-index: 1;
    height: 75px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: larger;
  }
  
  .navb-link {
    text-decoration: none;
    color: gray;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1000ms;
  }
  
  .navb-link:hover {
    color: teal;
    transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1) all;
    /* transition-duration: 1000ms; */
    border: rgb(173, 255, 230) solid 2px;
    background-color: aquamarine;
    border-radius: 10px;
  }
  
  .styled-button {
    width: 150px;
    height: 40px;
    /* padding-right: 4px; */
    border: none;
    background: transparent;
    background: rgb(33, 37, 41);
    color: white;
    font-size: 20px;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  }
  .styled-button:hover {
    color: white;
    background: transparent;
    border-bottom: gray 1px solid;
    font-size: 25px;
    width: 200px;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  }

table {
    border: 1px solid #151314;
    text-align: center;
    border-radius: 0px;
    padding: 5px;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow: 9px 9px 18px #1f1f1f,
        -9px -9px 18px #474747;
    /* position:block;    */
    width: 70vw;
    height: 70vh;
    margin-top: 90px;
    margin-bottom: 250px;
    font-size: large;
    font-weight: 600;
}

th {
    border: 1px solid #151314;
    color: #00FFFF;
    text-align: center;
    padding: 5px;
    
}

th:hover {
    background: #e91e63;
    color: #fff;
    /* background: linear-gradient(145deg,#2e2e2e, #373737); */
    box-shadow: 9px 9px 18px #1f1f1f,
        -9px -9px 18px #474747;
}

td {
    border: 1px solid #151314;
    color: #00FFFF;
    text-align: center;
    padding: 18px;
}

td:hover {
    background: #e91e63;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

input {
    border: 1px solid #151314;
    color: whitesmoke;
    text-align: center;
    height: 50px;
    background-color: #757575;
    font-size: 20px;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* .wrapper{
    display: flex;
    flex-direction: column;
} */

