* {
  font-family: monospace;
  text-align: center;
  text-decoration: solid;
  font-weight: 400;
}

a {
  all: unset;
}

.header {
  font-size: 700px;
  text-align: center;
  text-decoration: solid;
  font-weight: 400;
  font-family: monospace;
  padding-top: 4%;
}

.belhead {
  font-size: 35px;
  text-align: center;
  text-decoration: solid;
  font-weight: 400;
  font-family: monospace;
  padding-top: 3%;
}
body {
  height: 100vh;
  background: linear-gradient(to left top, rgb(26, 24, 24), rgb(42, 0, 97)); 
  /* background: linear-gradient(#141e30, #243b55);; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}
.boxs-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 3%;
}

#student-btn {
  all: unset;
}

#teacher-btn {
  all: unset;
}

#admin-btn {
  all: unset;
}

.box {
  margin: 30px auto;
  width: 500px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  color: black;
  transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.login-box {
  /* position: absolute;
  top: 60%;
  left: 50%; */
  width: 400px;
  padding: 5vh;
  background: linear-gradient(to left top, #150050, #3F0071); 
  /* box-sizing: border-box; */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: none;
  margin-top: 50px;
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color:  teal;
  font-size: 16px;
}

.login-box form .subbtn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid teal;
  background-color: transparent;
  border-radius: 8px;
  color:  teal;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: pointer;
}

.login-box .subbtn:hover {
  background:  teal;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 2px  teal,
              0 0 10px  teal,
}

.login-back {
  width: 100px;
  height: 5%;
  border: white solid 1px;
  color: white;
  background: none;
  border-radius: 40px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms all;
  font-size: 20px;
  display: none;
  margin-top: 40px;
}

.login-back:hover {
  color: black;
  background-color: #fff;
}


.box .box_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.box .box_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.box .box_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.box:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-black {
  color: black;
  height: max-content;
}
.title-white {
  color: white;
  height: max-content;
}

@media all and (max-width: 500px) {
  .boxs-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
