/* @property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
} */
.studentsignup, .adminsignup,.teachersignup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  border: 0;
  background: linear-gradient(to left bottom,#2A6171,rgb(183, 183, 183));
  font-family: sans-serif;
  font-weight: 100;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.header {
  font-size: 70px;
  text-align: center;
  text-decoration: solid;
  font-weight: 400;
  font-family: monospace;
}

.belhead {
  font-size: 35px;
  text-align: center;
  text-decoration: solid;
  font-weight: 400;
  font-family: monospace;
  padding: 3% 0;
}

.leftimg {
  border-radius: 50%;
  height: 20vh;
  width: 20vh;
}

.mainbox {
  /* background-color: black; */
  margin: 30px auto;
  width: 60vw;
  height: 70vh;
  border-radius: 8px;
  background-color: #3e3e3e;
  transition: 0.4s;
  transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox::before {
  content: "";
  width: 61vw;
  height: 71vh;
  z-index: -1;
  position: absolute;
  border-radius: 8px;
  /* background-image: linear-gradient(
    var(--rotate),
    rgb(255, 135, 135),
    rgb(59, 28, 255)
  ); */
  filter: blur(1vh);
  animation: spin 5s linear infinite;
}

.rightmainbox {
  width: 40vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
}

.leftmainbox {
  background: linear-gradient(#2A6171,black);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  height: 70vh;
}

.teachersignup {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.adminsignup {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/*navbar*/

.navbar {
  /* position: fixed3; */
  /* top: 0; */
  z-index: 1;
  /* background-color: rgb(33, 37, 41); */
  background-color: #2D2424;
  color: white;
  height: 75px;
  transition: all 800ms ease;
  border-bottom: solid 4px teal;
  width: 100%;
}

.navbar:after,
.navbar:before {
  height: 4px;
  content: "";
  transition: all 400ms ease;
}

.navbar:after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 0;
}

.navbar:before {
  position: absolute;
  top: 70px;
  left: 0;
  /* background-color: rgb(33, 37, 41); */
  background-color: #2D2424;
  width: 100%;
  z-index: 0;
}

.navbar:hover::after {
  transition: all 800ms ease;
  width: 100%;
}

.navbar:hover::before {
  transition: all 800ms ease;
  width: 0;
}

.navb-links-container {
  /* position:fixed; */
  /* top:0; */
  z-index: 1;
  height: 75px;
  color: white;
  font-size: larger;
}

.styled-button {
  width: 150px;
  height: 40px;
  /* padding-right: 4px; */
  border: none;
  /* background: rgb(33, 37, 41); */
  background-color: #2D2424;
  color: white;
  font-size: 20px;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.styled-button:focus {
  outline: none;
}
.styled-button:hover {
  color: white;
  background: rgb(33, 37, 41);
  border-bottom: gray 1px solid;
  font-size: 25px;
  width: 200px;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

/* navbar end */


.admin-input{
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  height: 5vh;
  padding: 1vh;
  margin-bottom: 2vh;
  width: 15vw;
  margin-right : 1vh;
}

.signupchoice{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 6vh;
}
#studentbtn
{
  padding-left: 20px;
  text-align: center;
  

}

#teacherbtn
{
  padding-left: 21px;
}
.box{
  margin:auto;
    width: fit-content;
    height: 6vh;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    color: black;
    padding: 0.4vh;
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
    background:  #2A6171;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
#submit{
  letter-spacing: 4px;
  border-radius: 8px;
}
#submit:hover{
  background:  white;
color: black;
box-shadow: 0 0 2px  white,
            0 0 10px  white,
}
.btn{
position: relative;
/* display:flex;
flex-direction: column; */
padding: 10px 20px;
border: 1px solid white;
background-color: transparent;
border-radius: 40px;
color:  white;
font-size: 16px;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
/* margin-top: 10vh; */
letter-spacing: 4px;
cursor: pointer;
margin-bottom: 1vh;
}
.btn:hover {
background:  white;
color: black;
box-shadow: 0 0 2px  white,
            0 0 10px  white,
} 
.rightmainbox table {
  width: 90%;
}
