/* @property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
} */
.studentsignup, .adminsignup,.teachersignup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  border: 0;
  background: #E0C097;
  font-family: sans-serif;
  font-weight: 100;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.header {
  font-size: 70px;
  text-align: center;
  text-decoration: solid;
  font-weight: 400;
  font-family: monospace;
}

.belhead {
  font-size: 35px;
  text-align: center;
  text-decoration: solid;
  font-weight: 400;
  font-family: monospace;
  padding: 3% 0;
}

.leftimg {
  border-radius: 50%;
  height: 20vh;
  width: 20vh;
}

.mainbox {
  /* background-color: black; */
  margin: 30px auto;
  width: 60vw;
  height: 70vh;
  border-radius: 8px;
  background-color: #3e3e3e;
  transition: 0.4s;
  transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox::before {
  content: "";
  width: 61vw;
  height: 71vh;
  z-index: -1;
  position: absolute;
  border-radius: 8px;
  /* background-image: linear-gradient(
    var(--rotate),
    rgb(255, 135, 135),
    rgb(59, 28, 255)
  ); */
  filter: blur(1vh);
  animation: spin 5s linear infinite;
}

.rightmainbox {
  width: 40vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
}

.leftmainbox {
  background-color: rgba(214, 0, 214, 0.407);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  height: 70vh;
}

.teachersignup {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.adminsignup {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/*navbar*/

.navbar {
  /* position: fixed3; */
  /* top: 0; */
  z-index: 1;
  /* background-color: rgb(33, 37, 41); */
  background-color: #2D2424;
  color: white;
  height: 75px;
  transition: all 800ms ease;
  border-bottom: solid 4px teal;
  width: 100%;
}

.navbar:after,
.navbar:before {
  height: 4px;
  content: "";
  transition: all 400ms ease;
}

.navbar:after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 0;
}

.navbar:before {
  position: absolute;
  top: 70px;
  left: 0;
  /* background-color: rgb(33, 37, 41); */
  background-color: #2D2424;
  width: 100%;
  z-index: 0;
}

.navbar:hover::after {
  transition: all 800ms ease;
  width: 100%;
}

.navbar:hover::before {
  transition: all 800ms ease;
  width: 0;
}

.navb-links-container {
  /* position:fixed; */
  /* top:0; */
  z-index: 1;
  height: 75px;
  color: white;
  font-size: larger;
}

.styled-button {
  width: 150px;
  height: 40px;
  /* padding-right: 4px; */
  border: none;
  /* background: rgb(33, 37, 41); */
  background-color: #2D2424;
  color: white;
  font-size: 20px;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.styled-button:focus {
  outline: none;
}
.styled-button:hover {
  color: white;
  background: rgb(33, 37, 41);
  border-bottom: gray 1px solid;
  font-size: 25px;
  width: 200px;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

/* navbar end */


.admin-input{
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  height: 5vh;
  padding: 1vh;
  margin-bottom: 2vh;
  width: 15vw;
  margin-right : 1vh;
}

.btn {
  border-color: white;
  margin: 36px;
  border-radius: 0;
  color: white;
  position: relative;
  box-shadow: 0 0 0 0 purple;
  letter-spacing: 0.2ch;
  border: 2px solid white;
  border-radius: 0px;
  padding: 0.8vh 4vh;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  transition: ease-out 0.4s;
  width : 7vw;
}
.btn:hover {
  color: white;
  box-shadow: inset 0 0 50px 50px rgb(192, 2, 176);
}

#studentbtn
{
  padding-left: 20px;
  text-align: center;
}

#teacherbtn
{
  padding-left: 21px;
}

.subbtn {
  border-color: white;
  margin: 36px;
  border-radius: 0;
  color: white;
  background-color: #3e3e3e;
  position: relative;
  box-shadow: 0 0 0 0 purple;
  letter-spacing: 0.2ch;
  border: 2px solid white;
  border-radius: 0px;
  padding: 0.8vh 4vh;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(14, 98, 223);
  transition: ease-out 0.4s;
  width : 7vw;
}

#submit:hover{
  box-shadow: 0 0 50px 50px inset rgb(14, 98, 223);
}
.rightmainbox table {
  width: 90%;
}
