#teacher_table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 90vw;
}
body {
  margin: 0;
  border: 0;
  /* background: linear-gradient(to right bottom, #000000, #3F0071);  */
  /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
  background: linear-gradient(to left bottom,#2A6171,rgb(183, 183, 183));
  font-family: sans-serif;
  font-weight: 100;
}
.box {
  margin: 30px auto;
  width: 500px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  color: black;
  transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}




th,
td {
  padding: 15px;
  background-color:#2a6071ce;
  color: #fff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  align-items: center;

}


th {
  text-align: center;
}

#teacher_table input {
  height: 30px;
  text-align: center;
  font-size: 15px;

}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* tbody { */
/* tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	} */
/* td {
		position: relative;
		:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	} */
/* } */

/* navbar */

.navbar {
  /* position: fixed; */
  /* top: 0; */
  z-index: 1;
  /* background-color: rgb(33, 37, 41); */
  background-color: #2D2424;
  color: white;
  height: 75px;
  transition: all 800ms ease;
  border-bottom: solid 4px teal;
  width: 100%;
}

.navbar:after,
.navbar:before {
  height: 4px;
  content: "";
  transition: all 400ms ease;
}

.navbar:after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 0;
}

.navbar:before {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: rgb(33, 37, 41);
  width: 100%;
  z-index: 0;
}

.navbar:hover::after {
  transition: all 800ms ease;
  width: 100%;
}

.navbar:hover::before {
  transition: all 800ms ease;
  width: 0;
}

.navb-links-container {
  /* position:fixed; */
  /* top:0; */
  z-index: 1;
  height: 75px;
  font-size: larger;
}

.navb-link {
  text-decoration: none;
  color: gray;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
}

.navb-link:hover {
  color: teal;
  transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1) all;
  /* transition-duration: 1000ms; */
  border: rgb(173, 255, 230) solid 2px;
  background-color: aquamarine;
  border-radius: 10px;
}

.styled-button {
  width: 150px;
  height: 40px;
  /* padding-right: 4px; */
  border: none;
  background: transparent;
  /* background: rgb(33, 37, 41); */
  background-color: #2D2424;
  color: white;
  font-size: 20px;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
.styled-button:hover {
  color: white;
  background: transparent;
  border-bottom: gray 1px solid;
  font-size: 25px;
  width: 200px;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

#add-assignment-form {
  position: fixed;
  margin: auto;
  width: 60vw;
  height: 70vh;
  border-radius: 40px;
  background-color: #3e3e3e;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin: 30px auto;
  width: 40vh;
  height: 40vh;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  color: black;
  transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  background:  #2A6171;
}
/* navbar end */
.wrap {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: right;
}

.button {
  height: 65px;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  transform: translateY(1px);
  margin: 1vh 4vh;
  align-self: center;
  }
  #add-assignment{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

.button:hover {
  background-color: #2193b6ce;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-1px);
}



.student-selector {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.marks-input-box {
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0;
  border: 1px solid whitesmoke;
  width: 70%;
  font-size: 20px;
}

.marks-input-box::placeholder{
  color: whitesmoke
}

.marks-input-box:focus {
  outline: unset;
  border: 0;
}

#logout 
{
  margin-left: 32vw;
}