@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
    margin: 0;
    border: 0;
    /* background: linear-gradient(to left top, #000000, #150050); */
    background-color: #E0C097;
    font-family: sans-serif;
    font-weight: 100;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/*navbar*/
.navbar {
    /* position: fixed; */
    /* top: 0; */
    /* background-color: rgb(33, 37, 41); */
    background-color: #2D2424;
    color: white;
    height: 75px;
    transition: all 800ms ease;
    border-bottom: solid 4px teal;
    width: 100%;
  }
  
  .navbar:after,
  .navbar:before {
    height: 4px;
    content: "";
    transition: all 400ms ease;
  }
  
  .navbar:after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    width: 0;
  }
  
  .navbar:before {
    position: absolute;
    top: 71px;
    left: 0;
    /* background-color: rgb(33, 37, 41); */
    background-color: #2D2424;
    width: 100%;
    z-index: 0;
  }
  
  .navbar:hover::after {
    transition: all 800ms ease;
    width: 100%;
  }
  
  .navbar:hover::before {
    transition: all 800ms ease;
    width: 0;
  }
  
  .navb-links-container {
    /* position:fixed; */
    /* top:0; */
    height: 75px;
    color: white;
    font-size: larger;
  }
  
  .navb-link {
    text-decoration: none;
    color: gray;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1000ms;
  }
  
  .navb-link:hover {
    color: teal;
    transition: 1000ms cubic-bezier(0.19, 1, 0.22, 1) all;
    /* transition-duration: 1000ms; */
    border: rgb(173, 255, 230) solid 2px;
    background-color: aquamarine;
    border-radius: 10px;
  }
  
  .styled-button {
    width: 150px;
    height: 40px;
    /* padding-right: 4px; */
    border: none;
    background: transparent;
    /* background: rgb(33, 37, 41); */
    background-color: #2D2424;
    color: white;
    font-size: 20px;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  }
  .styled-button:hover {
    color: white;
    background: transparent;
    border-bottom: gray 1px solid;
    font-size: 25px;
    width: 200px;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1) all;
  }

table {
    border: 1px solid #151314;
    text-align: center;
    border-radius: 0px;
    padding: 3px;
    
    /* background: linear-gradient(145deg, #2e2e2e, #373737); */
    background-color: #a36046;
    box-shadow: 9px 9px 18px #1f1f1f,
        -9px -9px 18px #474747;
    /* position:block;    */
    /* width: 70vw; */
    /* height: 70vh; */
    margin-top: 90px;
    margin-bottom: 90px;
    font-size: large;
    font-weight: 600;
}

th {
    border: 1px solid #151314;
    color: hwb(0 0% 100%);
    text-align: center;
    /* padding: 5px; */
    
}

th:hover {
    background: #8c492e;
    color: #fff;
    /* background: linear-gradient(145deg,#2e2e2e, #373737); */
    box-shadow: 9px 9px 18px #1f1f1f,
        -9px -9px 18px #474747;
}

td {
    border: 1px solid #151314;
    color: hwb(0 0% 100%);
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

td:hover {
    background: #8c492e;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

input {
    border: 1px solid #151314;
    color: whitesmoke;
    text-align: center;
    /* width: 2px; */
    /* height: 50px; */
    background-color: #757575;
    font-size: 20px;
    

}

table select {
  width: 100px; 
  padding: 0;
  margin: 0;
}

ul {
    list-style: none;
}
.btn {
  border-color: black;
  border-radius: 0;
  color:white;
  position: relative;
  letter-spacing: 0.2ch;
  border: 2px solid white;
  border-radius: 50px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #25274a7e;
  transition: ease-out 0.4s;
  height: 10%;
  width: 250px;
}
.btn:hover {
  color:#00FFFF;
  border-color:#00FFFF;
}
#submit_btn{
  margin-bottom: 90px ;
}

#sem_btn{
  margin-top: 45px;
}

/* .wrapper{
    display: flex;
    flex-direction: column;
} */

.Sub
{
  height: 40px;
  cursor: pointer;
  width:200px; 
  font-size: x-large;
  border-radius: 5px; 
  border-style: hidden;
  color: white; 
  background-color: #00FFFF;
}

#logout 
{
  margin-left: 32vw;
}

#png:hover::after {
  transition: all 800ms ease;
  width: 100%;
}

#png:hover::before {
  position: absolute;
}
