<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/signuppage.css" />
    <link rel="stylesheet" href="/static/student_profile.css" />
    <link rel="stylesheet" href="/static/footer.css" />

    <title>Register Users</title>
  </head>
  <body>
    <nav class="navbar-dark navbar-expand-lg navbar">
      <div class="container-fluid navb-links-container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/"><button class="styled-button">Home</button></a>
            </li>
            <li class="nav-item">
              <a href="/admin/timetable"
                ><button class="styled-button">Timetable</button></a
              >
            </li>
            <li class="nav-item">
              <a href="/admin/teacher_assign"
                ><button class="styled-button">Teacher Assign</button></a
              >
            </li>
            <li class="nav-item">
              <a href="/signup"
                ><button class="styled-button">Sign Up</button></a
              >
            </li>
            <!-- <li class="nav-item" id="logout">
              <a href="/logout"
                ><img
                  src="/static/icons8-logout-50.png"
                  width="50px"
                  height="50px"
                  href="/logout"
              /></a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <center>
      <h1 class="header">New User's Registration</h1>
      <div class="mainbox">
        <div class="leftmainbox">
          <h1 class="belhead">Signup</h1>
          <img
            src="/static/blank-profile-picture-973460__480.webp"
            class="leftimg"
          />
          <h1 class="belhead">Admin Name</h1>
        </div>
        <div class="rightmainbox">
          <div class="signupchoice">
            <div class="btn" id="studentbtn">STUDENT</div>
            <div class="btn" id="teacherbtn">TEACHER</div>
            <div class="btn" id="adminbtn">ADMIN</div>
          </div>
          <div class="teachersignup" id="teachersignup">
            <form action="/signup/teacher" method="post">
              <h1 class="belhead">Teacher's Signup</h1>
              <table>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      name="fname"
                      id=""
                      placeholder="First Name"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      name="lname"
                      id=""
                      placeholder="Last Name"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      placeholder="Email"
                      name="email"
                    />
                  </td>
                  <td>
                    <input
                      type="password"
                      class="admin-input"
                      placeholder="Password"
                      name="password"
                    />
                  </td>
                </tr>
              </table>

              <br />
              <input type="checkbox" name="force" id="" /><label for="checkbox"
                >Override existing data?</label
              >
              <button class="subbtn" id="submit">Submit</button>
            </form>
          </div>

          <div class="studentsignup" id="studentsignup">
            <form action="/signup/student" method="post">
              <h1 class="belhead">Student's Signup</h1>
              <table>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      name="fname"
                      id=""
                      placeholder="First Name"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      name="lname"
                      id=""
                      placeholder="Last Name"
                    />
                  </td>
                </tr>
                <input
                  type="text"
                  class="admin-input"
                  placeholder="Roll Number"
                  name="rollno"
                />
                <tr colspan="2">
                  <td>
                    <input
                      list="branch"
                      class="admin-input"
                      placeholder="Branch"
                      name="branch"
                    />

                    <datalist id="branch">
                      <option value="CSAI"></option>
                      <option value="CSB"></option>
                      <option value="CS"></option>
                      <option value="IT"></option>
                    </datalist>
                  </td>
                  <td>
                    <input
                      list="year"
                      class="admin-input"
                      placeholder="Year"
                      name="year"
                    />
                    <datalist id="year">
                      <option value="2019"></option>
                      <option value="2020"></option>
                      <option value="2021"></option>
                      <option value="2022"></option>
                    </datalist>
                  </td>
                </tr>
                <tr colspan="2">
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      placeholder="Email"
                      name="email"
                    /><br />
                  </td>
                  <td>
                    <input
                      type="password"
                      class="admin-input"
                      placeholder="Password"
                      name="password"
                    />
                  </td>
                </tr>
              </table>
              <input type="checkbox" name="force" id="" /><label for="checkbox"
                >Override existing data?</label
              >
              <br />
              <button class="subbtn" id="submit">Submit</button>
            </form>
            <form action="/signup/student-signup-excel-download" method="post">
              <button>Download Template</button>
            </form>
            <form
              action="/signup/student-signup-excel"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="file" name="excel-file" id="" />
              <button>Submit</button>
            </form>
          </div>
          <div class="adminsignup" id="adminsignup">
            <form action="/signup/admin" method="post">
              <h1 class="belhead">Admin's Signup</h1>
              <table>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      placeholder="First Name"
                      name="fname"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      placeholder="Last Name"
                      name="lname"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      placeholder="Department"
                      name="dept"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      placeholder="Designation"
                      name="designation"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      type="text"
                      class="admin-input"
                      placeholder="Email"
                      name="email"
                    />
                  </td>
                  <td>
                    <input
                      type="password"
                      class="admin-input"
                      placeholder="Password"
                      name="password"
                    />
                  </td>
                </tr>
              </table>
              <input type="hidden" name="force" value = "0"/>
              <input type="checkbox" name="force" value="1"/><label for="checkbox"
                >Override existing data?</label
              >
              <button class="subbtn" id="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </center>
    <footer class="footer">
      <div class="containner">
        <div class="row">
          <div class="footer-col col-md-3 col-sm-6">
            <h4>Student</h4>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Affiliate Program</a></li>
              <li><a href="#">Hostel</a></li>
              <li><a href="#">Mess</a></li>
            </ul>
          </div>
          <div class="footer-col col-md-3 col-sm-6">
            <h4>Get Help</h4>
            <ul>
              <li><a href="#">Academic Calender</a></li>
              <li><a href="#">Course Structure</a></li>
              <li><a href="#">List of Holidays</a></li>
              <li><a href="#">Payment Options</a></li>
            </ul>
          </div>
          <div class="footer-col col-md-3 col-sm-6">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#">Fee Structure</a></li>
              <li><a href="#">Attendance</a></li>
              <li><a href="#">Timetable</a></li>
              <li><a href="#">ID card</a></li>
            </ul>
          </div>
          <div class="footer-col col-md-3 col-sm-6">
            <h4>Follow Us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
              <!-- <a href="#"><i class="fab fa-discord"></i></a> -->
              <!-- <a href="#"><i class="fab fa-reddit"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- scripts -->
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="/static/signuppage.js"></script>
  </body>
</html>
