<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/teacher_table.css" />
    <link rel="stylesheet" href="/static/footer.css" />
  </head>
  <body>
    <!-- Navbar shit -->
    <nav class="navbar-dark navbar-expand-lg navbar">
      <div class="container-fluid navb-links-container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/"><button class="styled-button">Home</button></a>
            </li>
            <li class="nav-item">
              <a href="/teacher/view_timetable"
                ><button class="styled-button">Timetable</button></a
              >
            </li>
            <li class="nav-item">
              <a href="/teacher/enter_selection"
                ><button class="styled-button">Assignments</button></a
              >
            </li>
            <li class="nav-item">
              <a href="#"><button class="styled-button">Attendance</button></a>
            </li>
            <li class="nav-item">
              <a href="#"><button class="styled-button">Reports</button></a>
            </li>
            <li class="nav-item" id="logout">
              <a href="/logout"
                ><button class="styled-button">Logout</button></a
              >
            </li>
            <object
              data="/static/icons8-logout-50.png"
              width="50px"
              height="50px"
              id="png"
            ></object>
          </ul>
        </div>
      </div>
    </nav>
    <center>
      <button type="button" id="add-assignment" class="button">
        Add Assignment
        <i class="fa-solid fa-file-circle-plus" style="font-size: 30px"></i>
      </button>
      <div id="add-assignment-form">
        <form action="/teacher/add_assignment" method="post" class="box">
          <select name="year" id="">
            <option value="{{year}}">{{year}}</option>
          </select>
          <select name="branch" id="">
            <option value="{{branch}}">{{branch}}</option>
          </select>
          <select name="subject" id="">
            <option value="{{subject}}">{{subject}}</option>
          </select>
          <select name="semester" id="">
            <option value="{{semester}}">{{semester}}</option>
          </select>
          <input type="text" placeholder="Assignment Name" name="assignment" />
          <input type="text" placeholder="Maximum Marks" name="maxmarks" />
          <button class="button">Submit</button>
        </form>
        <button id="add-assignment-back">Back</button>
      </div>
      <h2>{{year}}</h2>
      <h2>{{branch}}</h2>
      <h2>{{semester}}</h2>
      <h2>{{subject}}</h2>
      <form
        action="/teacher/assignment_selected/{{year}}/{{branch}}/{{semester}}/{{subject}}"
        method="post"
      >
        <select name="assignment" id="" class="button">
          {%for a in assignments%}
          <option value="{{a.assignment}}">{{a.assignment}}</option>
          {%endfor%}
        </select>
        <button class="button">Submit</button>
      </form>
    </center>
    {%if assignment%}
    <div style="overflow-x: auto">
      <form
        action="/teacher/add_marks_template/{{year}}/{{branch}}/{{subject}}/{{semester}}/{{assignment.assignment}}"
        method="post"
      >
        <button>Download Template</button>
      </form>
      <form
        action="/teacher/add_marks_excel/{{year}}/{{branch}}/{{subject}}/{{semester}}/{{assignment.assignment}}"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="excel-file" id="" />
        <button class="button">Submit</button>
      </form>
      <form
        action="/teacher/add_marks/{{year}}/{{branch}}/{{subject}}/{{semester}}/{{assignment.assignment}}"
        method="post"
        onsubmit="return validateMyForm();"
      >
        <table
          id="teacher_table"
          cellspacing="0"
          width="100%"
          class="hover stripe"
        >
          <thead>
            <tr>
              <th>Branch</th>
              <th>Roll Number</th>
              <th>Name</th>
              <th>Exam type</th>
              <th>
                Marks (
                <h6 id="maxmarks" style="display: inline-block">
                  {{maxmarks}}
                </h6>
                )
              </th>
            </tr>
          </thead>
          <tbody>
            {%for student in students%}
            <tr>
              <td>{{student[0].branch}}</td>
              <td>{{student[0].rollno}}</td>
              <td>{{student[0].fname}}</td>
              <td>{{assignment.assignment}}</td>
              <td>
                <input
                  type="text"
                  value="{{student[1].marks}}"
                  name="{{student[0].rollno}}"
                  class="marks-input-box"
                />
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        <button class="button">Submit</button>
      </form>
    </div>
    {%endif%}

    <footer class="footer">
      <div class="containner">
        <div class="row">
          <div class="footer-col col-md-3 col-sm-6">
            <h4>Student</h4>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Affiliate Program</a></li>
              <li><a href="#">Hostel</a></li>
              <li><a href="#">Mess</a></li>
            </ul>
          </div>
          <div class="footer-col col-md-3 col-sm-6">
            <h4>Get Help</h4>
            <ul>
              <li><a href="#">Academic Calender</a></li>
              <li><a href="#">Course Structure</a></li>
              <li><a href="#">List of Holidays</a></li>
              <li><a href="#">Payment Options</a></li>
            </ul>
          </div>
          <div class="footer-col col-md-3 col-sm-6">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#">Fee Structure</a></li>
              <li><a href="#">Attendance</a></li>
              <li><a href="#">Timetable</a></li>
              <li><a href="#">ID card</a></li>
            </ul>
          </div>
          <div class="footer-col col-md-3 col-sm-6">
            <h4>Follow Us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
              <!-- <a href="#"><i class="fab fa-discord"></i></a>
                      <a href="#"><i class="fab fa-reddit"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"
    ></script>

    <script
      type="text/javascript"
      charset="utf8"
      src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
    ></script>

    <script>
      $(document).ready(function () {
        $("#teacher_table").DataTable({
          paging: false,
          // pagingType: "full_numbers",
          columnDefs: [
            {
              targets: "_all",
              createdCell: function (td, cellData, rowData, row, col) {
                $(td).css("padding", "15px");
              },
            },
          ],
        });
      });
    </script>
    <script>
      $(".marks-input-box").each(function () {
        var ele = $(this);
        var mmarks = parseInt($("#maxmarks").html());
        ele.on("change click keyup input paste", function (event) {
          if ((ele.val() > mmarks) | (isNaN(ele.val()) === true)) {
            ele.css("color", "red");
          } else {
            ele.css("color", "white");
          }
        });
      });
      function validateMyForm() {
        var check = 1;
        var mmarks = parseInt($("#maxmarks").html());
        $(".marks-input-box").each(function () {
          var element = $(this);
          if ((element.val() > mmarks) | (isNaN(element.val()) === true)) {
            check = 0;
          }
        });
        if (check == 0) {
          alert("Please check the values you have entered.");
          return false;
        }
        console.log("Passed.");
        return true;
      }
      $(document).ready(function () {
        $(".marks-input-box").each(function () {
          // console.log($(this).val());
          var ele = $(this);
          var mmarks = parseInt($("#maxmarks").html());
          if ((ele.val() > mmarks) | (isNaN(ele.val()) === true)) {
            ele.css("color", "red");
          } else {
            ele.css("color", "white");
          }
        });
      });
    </script>
    <script type="text/javascript" src="/static/teacher_table.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
